<ion-view view-title="Comunidad" >


  <ion-content>
    <div class="card">

      <div class="item item-divider">

        <h2 class="">Autos</h2>

      </div>

      <div class="item item-body">

        <img src="../img/naranja.jpg" class="full-image">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis culpa cumque ducimus
          eos est ex id iusto libero nemo, neque odio pariatur perferendis praesentium quia quo reiciendis.
          Nam, nostrum.
        </p>

      </div>


    </div>

  </ion-content>
</ion-view>
