<ion-view view-title="Datos" >


  <ion-content>
    <div class="card">

      <div class="item item-divider">

        <h2 class="">coches</h2>

      </div>

      <div class="item item-body">

        <img src="../img/descarga.jpg" class="full-image">
        <p>Lorem ipsum dolor sit am
          Nam, nostrum.et, consectetur adipisicing elit. Architecto blanditiis culpa cumque ducimus
          eos est ex id iusto libero nemo, neque odio pariatur perferendis praesentium quia quo reiciendis.
        </p>

      </div>


    </div>

  </ion-content>
</ion-view>
