<ion-tabs class="tabs-icon-top tabs-background-dark  tabs-assertive tabs-striped" >
  <ion-tab icon="ion-model-s" title="El coche" href="#/tabs/coche" >
    <ion-nav-view name="tabs-coche"></ion-nav-view>

  </ion-tab>
  <ion-tab icon="ion-ios-people" title="Comunidad" href="#/tabs/comunidad">
    <ion-nav-view name="tabs-comunidad"> </ion-nav-view>

  </ion-tab>

  <ion-tab  title="Home" href="#/tabs/home"  hidden="true">
    <ion-nav-view name="tabs-home"> </ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-person" title="Mis datos" href="#/tabs/datos">
    <ion-nav-view name="tabs-datos"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-person" title="info" href="#/tabs/informacion" hidden="true">
    <ion-nav-view name="tabs-informacion"></ion-nav-view>
  </ion-tab>

</ion-tabs>
